.ql-editor {
    overflow-y: scroll;
    /* resize: vertical; */

}



.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: var(--main-color-4);
    margin-left: 50px;
    margin-right: 50px;
    word-wrap: normal !important;
    display: flex;
    align-items: center;
    justify-content: center;


}


/* Snow Theme */
.ql-snow.ql-toolbar {
    display: block;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: var(--main-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}



.ql-editor {
    min-height: 11.69in;
    /* width: 90vw; */
    /* max-height: 12.69in; */

    width: 9.27in;
    overflow-y: auto;

    /* word-wrap: normal !important;
    max-width: 100vw;
    word-wrap: normal; */


}

br {
    page-break-after: always;
}

@media (max-width:991px) {

    .ql-container,
    .ql-snow.ql-toolbar {
        margin: 0;
    }


}