.ql-editor {
    overflow-y: scroll;
}



.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    word-wrap: normal !important;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;


}


/* Snow Theme */
.ql-snow.ql-toolbar {
    position: sticky;
    top: 0;
    z-index: 99;
    display: block;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 3px solid var(--main-color-1) !important;

    background: var(--main-color-4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    /* width: 90vw; */
}



.ql-editor {
    min-height: 11.69in;
    width: 9.27in;
    border: 3px solid var(--main-color-1) !important;
    padding: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-y: auto;


}

.ql-align-center {
    display: flex;
    justify-content: center;
}






button[type='button'],
.ql-picker {
    position: relative;
    cursor: pointer;
}

button[type='button']:before,
.ql-picker:before {
    visibility: hidden;
    content: attr(att);
    background-color: var(--main-color-1);
    color: #f3f3f3;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    position: absolute;
    white-space: nowrap;
    z-index: 9999;

}

button[type='button']:after,
.ql-picker:after {
    z-index: 9999;
    visibility: hidden;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

button[type='button']:before,
.ql-picker:before {
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
}

button[type='button']:after,
.ql-picker:after {
    bottom: calc(100% + 1px);
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 0;
    border-top-color: var(--main-color-1);
}

button[type='button']:hover:before,
button[type='button']:hover:after,
.ql-picker:hover:before,
.ql-picker:hover:after {
    visibility: visible;
}







@media (max-width:991px) {

    .ql-container,
    .ql-snow.ql-toolbar {
        margin: 0;
    }

    
    .ql-editor {
        width: 95vw
    }


}